@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container-card{
    height: 60vh;
    padding: 1rem;
    width: 40vh;
    background: linear-gradient(45deg, #fff, #2d2d2d); 
    text-align: center;
    border-radius: 20px;
}

.nombre-card{
    color:rgb(0, 0, 0);
    font-family: 'Russo One';
    font-size: 30px;
    margin-top: 20px;
}

.contenido-card{
font-family: 'Roboto';
margin-top: 15%;
}